---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

The `series` is one of the main data structures in pandas. You can think of it as a cross between a list and a dictionary. Its itemes are stored in order and there are labels assigned to each element so you can retrieve the element. We can think this data structure as two columns, the first one contains the "special index" (like the keys in dictionaries); while the second column is the actual data. The data column hast a label on its own and can be retrieved using the `.name` attribute.

In [1]:
import pandas as pd
#pd.Series?

### Creating series from lists

According to the documentation, we can pass a list and pandas will create the associated `series`. For example:

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

Notice that we pass `strings` and pandas set the dtype to object.

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In the case above we pass whole numbers and we see that the dtype is int64.

*Note*: Underneath panda stores values in a typed array using numpy. This offers speed-up.

### What about missing data?

How pandas handles missing data. In python we have the `None` type to indicate the lack of data. But what if we want to have a typed list like we do in the series.

In [4]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

Underneath, pandas does some type conversion. If we create a list of strings and we have one element, a `None` type, pandas inserts it as a `None` and uses the type object for the underlying array. If we create a list of numbers, integers or floats, and put in the `None` type, pandas automatically converts this to a special floating point value designated as `NaN`, which stands for not a number. 

Remember!!!

**NaN is not None and when we try the equality test, it's false.**

In [5]:
import numpy as np
np.nan == None

False

Even more the equality test returns `False` when you try to do it for `NaN` itself.

In [6]:
np.nan == np.nan

False

To identify them we need to need to use the special `numpy` function `isnan`.

In [7]:
np.isnan(np.nan)

True

### Creating series from dictionaries.

In [8]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In this case the index is automatically assigned to the keys of the dictionary instead of incrementing integers.
We can get the `index` object by using the `index` attribute>

In [9]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

You could also separate your index creation from the data by passing in the index as a list explicitly to the series.

In [10]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

So what happens if your list of values in the index object are not aligned with the keys in your dictionary for creating the series? Well, pandas overrides the automatic creation to favor only and all of the indices values that you provided. So it will ignore it from your dictionary, all keys, which are not in your index, and pandas will add non type or NaN values for any index value you provide, which is not in your dictionary key list

In [11]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

If we want to acces the index by number we use the attribute `iloc`. For example if we want to know the 4th country we do:

In [13]:
s.iloc[3]

'South Korea'

If we want to see which country has Golf as its national sport will use the `loc` attribute:

In [14]:
s.loc['Golf']

'Scotland'

In [15]:
s[3]

'South Korea'

In [16]:
s['Golf']

'Scotland'

So what happens if your index is a list of integers? This is a bit complicated, and Pandas can't determine automatically whether you're intending to query by index position or index label.
For example:

In [17]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [18]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

If we try and call s sub zero, we get a key error, because there's no item in the sports list with an index of zero. Instead we have to call iloc explicitly if we want the first item.

In [ ]:
s.iloc[0]

### Let's do some series operations

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

We can do it with numpy too, and it's faster.

In [19]:
import numpy as np

total = np.sum(s)
print(total)

BhutanScotlandJapanSouth Korea

To see that it's faster, we create a big array of random numbers, and we will take the time and compare how the perform. 

*Note:* To see the first lines of a series we use the method `head`

In [20]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    739
1    384
2    907
3    966
4    234
dtype: int64

In [21]:
len(s)

10000

let's use the ipython magic on a cell. and let-s tell it to run 100 loops, by default it runs 1000.

In [22]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

100 loops, best of 3: 2.77 ms per loop

In [23]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 264 µs per loop

As you've noticed, `numpy` is way faster.

### Broadcasting

With broadcasting we can apply and operation to every value in the a series, changing the series. For example:

In [24]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    741
1    386
2    909
3    968
4    236
dtype: int64

The standard way of doing it would be:

In [25]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    743
1    388
2    911
3    970
4    238
dtype: int64

If we time it we will see how fast it's by using numpy and also how neat looks.

In [27]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

10 loops, best of 3: 1.93 s per loop

In [28]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

10 loops, best of 3: 826 µs per loop

The `.loc` attribute lets you not only modify data in place, but also add new data as well. If the value you pass in as the index doesn't exist, then a new entry is added. And keep in mind, indices can have mixed types. While it's important to be aware of the typing going on underneath, Pandas will automatically change the underlying NumPy types as appropriate.

In [29]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

Let's see an example where index values are not unique, and this makes data frames different, conceptually, that a relational database might be.

In [30]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

It's possible to create a new series object with multiple entries for cricket, and then use append to bring these together. There are a couple of important considerations when using append. First, Pandas is going to take your series and try to infer the best data types to use. In this example, everything is a string, so there's no problems here. 

Second, the append method doesn't actually change the underlying series. It instead returns a new series which is made up of the two appended together. We can see this by going back and printing the original series of values and seeing that they haven't changed. 

This is actually a significant issue for new Pandas users who are used to objects being changed in place. So watch out for it, not just with append but with other Pandas functions as well.

In [31]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [32]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [33]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [34]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

# The DataFrame Data Structure

In [ ]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

In [ ]:
costs = df['Cost']
costs

In [ ]:
costs+=2
costs

In [ ]:
df

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

In [ ]:
df['Gold'] > 0

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()